<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Projects Page</title>

  </head>
  <body>
    {{> header}}
    <p>Here is a listing of the projects:</p>

    {{> footer}}
  </body>

</html>
